option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application  # Replace 'yourproject' with your Django project name, e.g., RetroRelics.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings  # e.g., RetroRelics.settings